{% extends 'layout.html' %}

{% block title %}Meus Projetos{% endblock %}

{% block content %}
    <h1>Expectativas</h1>
    <p>Conseguir um estágio e ir bem no enem</p>
    <div class="expectativas-container">
        
        <!-- Bloco do ENEM -->
        
        <div class="card-expectativa card-enem">
    <ul>
    <li>Conseguir terminar meu cronograma de estudos,</li>
   <li>Tirar 920 na redação,</li>
   <li>No segubdo dia tirar entre 600 a 700 <br> Se Deus quiser,</li>
   <li>Fazer a prova tranquila,</li>
   <li>Chegar cedo.</li>
    </ul>
    </div>

    <div class="card-expectativa card-estagio">
        
        <li>Conseguir um estágio <br> (Me contrta Janaína)</li>
        <li>Completar minhas horas de estágio, para meu diploma de ti,</li>
        <li>Ver se me idedentifico com a área.</li>
    </div>
</div>
{% endblock %}
