<!--Esse template herda no extends o layout.html
ELe tem estruturas básicas de layout-->

{% extends 'layout.html' %}

{% block title %}Início - Sobre Mim{% endblock %}

{% block content %}
    <h1>Sobre Mim</h1>
    <p>Olá! Meu nome é Grazi, Tenho 17 anos e estou cursando ensino medio técnico do COTEMIG</p>
    <h2>Sou uma pessoa:</h2>
    
    
    <ul>
        <li>Dedicada,</li>
        <li>Esforçada,</li>
        <li>Focada,</li>
        <li>Criativa.</li>
    </ul>

{% endblock %}

